.container {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100vw - 20px); /* 画面幅から余白を引いた最大幅を設定 */
    justify-content: center;
}

.week {
    width: calc((100% - 20px) / 90); /* コンテナ幅から余白を引いて、90個のマスに分割 */
    height: calc((100% - 20px) / 90); /* コンテナ幅から余白を引いて、90個のマスに分割 */
    margin: 1px;
    background-color: #ffffff;
    border: 1px solid #000000;
}
