@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'メイリオ', Osaka;
	margin: 2em;
	text-align: center;
}
h1{
	border-bottom:solid 1px #555;
}
p#time{
	font-size: 48pt;
	padding-top: 0.5em;
}
p#level{
	font-size: 80px;
	font-weight: bold;
	padding-top: 0.5em;
}
button{
	width:5em;
	padding:5pt;
	font-size: 20pt;
	border:solid 1px #555;
	border-radius: 12pt;
}
button:hover{
	background-color: pink;
}
footer{
	color: #ddd;
	background-color: transparent;
	text-align: right;
}