html {
  touch-action: manipulation;
}
.bd{
  width:100vw;
  height:100vh;
  position:absolute;
  top:0;
  z-index:-1;
  background-color: #d8d8d8;
  
}
    body {
        font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
        font-size: 17px;
        letter-spacing:0.5px;   
        width: 95vw;
        margin:0;
        font-weight:bold;
		
  background-color: #d8d8d8;
    }
    #quiz {
      width:78vw;
        display: flex;
        position:relative;
        justify-content: center;
        align-items: center;
      padding:5vh 8vw;
      margin:20px 3vw;
      font-weight:bold;
      font-size:28px;
      line-height:1.7em;
      color:#404040;
      border-radius: 19px;
background: #d8d8d8;
box-shadow:  7px 7px 18px #c5c5c5,
             -7px -7px 18px #ebebeb;
    }
    .column{
      font-size:25px;
      line-height:1.7em;
      margin:20px 2vw;
      padding:5px 4vw;
      width:88vw;
      font-weight:500;
      letter-spacing:0px;
      color:#404040;
      z-index:2;
    }
    #m_btn, #b_btn{
      display:block;
      cursor: pointer;
      outline: none;
      padding: 0;
      appearance: none;
      position: fixed;
      right:10px;
      width:90px;
      height:10vh;
      font-size:45px;
      font-weight:500;
      color:rgba(126, 126, 126, 0.05);
      border:3px solid rgba(126, 126, 126, 0.05);
      z-index:2;
      background: rgba(0, 0, 0, 0);
      border-radius: 5px;
    }
    #m_btn{
      bottom:80vh;
    }
    #b_btn {
      bottom:9vh;
    }
    #showAnswer{
      position: fixed;

      display:block;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 0;
      appearance: none;
      right:10px;
      bottom:10px;
      width:90px;
      height:90px;
      border-radius: 50%;
      background: linear-gradient(145deg, #e7e7e7, #c2c2c2);
      box-shadow:  9px 9px 17px #c5c5c5,
                   -9px -9px 17px #ebebeb;
      color:#bbb9b9;
      font-weight:bold;
      font-size:39px;
      z-index:1;
    }

    .gray{
      background: rgba(255, 255, 255, 0.2) !important;
    }

    button{
      -webkit-tap-highlight-color:transparent;
    }
    #submit{
      display:inline;
      }
      .next{
        position: fixed;
        bottom:0;
        display:block;
        background-color:rgba(225,225,225,0.0);
        border:none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        width:100vw;
        left:0;
        height:100vh;
        z-index:3;

      }
iframe{
  border:none;
  right:10px;
  bottom:10px;
  width:90px;
  height:90px;
  position:fixed;
}
.darken{
  color:#4a4f85 !important;
}
.warning {
  color:#803f3f !important;
  transition:0.2s;
}
@media screen and (max-width:400px){
  #quiz{
    font-size:18px;
    margin-top:20px;
    padding:4vw;
    width:86vw;
  }
  #showAnswer{
    width:60px;
    height:60px;
  }
  iframe{
    width:60px;
    height:60px;
    z-index:3;
  }
  #m_btn{
    bottom:50vh;
  }
  #b_btn{
    bottom:39vh;
}
  .next{

    bottom:0;
  }
  .column{
    font-size:17px;
  }
}