    body {
        font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
        font-size: 17px;
        letter-spacing:0.5px;   
        width: 95vw;
        background-color: #d8d8d8;
        margin:0;
    }
    #quiz {
      width:78vw;
      height:300px;
      background: #c6c6c6;
        display: flex;
        position:fixed;
        justify-content: center;
        align-items: center;
      padding:0 8vw;
      margin:60px 3vw;
      border-radius: 10px;
      font-weight:bold;
      font-size:28px;
      line-height:1.7em;
      color:#404040;
    }
    #m_btn, #b_btn{
      display:block;
      background-color:#282828;
      cursor: pointer;
      outline: none;
      padding: 0;
      appearance: none;
      position: fixed;
      bottom:8vh;
      width:20vw;
      height:67px;
      font-size:25px;
      font-weight:bold;
      color:#fff;
      border-radius: 10px;
      border:none;
      z-index:2;
      box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25) ;
    }
    #m_btn{
      left:18vw
    }
    #b_btn {
      right:18vw;
    }
    .column{
      display:block;
      position:fixed;
      width:95vw;
      font-weight:bold;
      padding:0px 9.5vw;
      top:50vh;
      left:0;
      font-size:21px;
      width:81vw;
      letter-spacing:0px;
      line-height:160%;
      height:20vh;
    }
    .gray{
      background: #969696 !important;
    }
    .warning {
      background:#E8C1BD !important;
    }
    button{
      -webkit-tap-highlight-color:transparent;
    }
    #submit{
      display:inline;
      }
      .next{
        position: fixed;
        bottom:25vh;;
        display:block;
        background-color:rgba(0,0,0,0);
        border: 1px solid #CDCDCD;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        width:100vw;
        left:0;
        height:75vh;
        z-index:1;
      }
      #showAnswer{
        position: fixed;
        bottom:0;
        display:block;
        background-color:rgba(0,0,0,0);
        border: 1px solid #CDCDCD;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        width:100vw;
        left:0;
        height:25vh;
        z-index:1;
      }